body{
	background-color:#FFD966;
	background-image:url('pictures/back.png');
	background-repeat:repeat-y;
	background-position:center;
	text-align:center;
	margin:0px;
	min-height:100%;
	position:absolute;
	box-sizing: border-box;
	width:100%;
	overflow:hidden;
	padding:0px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(150,60,00);
}
::-webkit-scrollbar-thumb {
	background: rgb(180,90,00);
	border-radius:4px 
}

#loading{
	height:100%;
	width:100%;
	position:fixed;
	background-image:linear-gradient(to bottom right,#FF9933,#FFAA33);
	border-bottom:5px solid #663300;
	box-sizing:border-box;
}

#loadcontain{
	height:200px;
	width:380px;
	position:absolute;
	top:40%;
	left:50%;
	margin-top:-50px;
	margin-left:-175px
}

#forline img{
	width:130px
}

#betweenBorder{
	width:2px;
	padding:0px;
	background-image:linear-gradient(transparent,#663300,#663300,#663300,#663300,transparent)
}

@font-face {
	font-family: rFont;
	src: url('font/Gravity-Book.otf');
}

#recommended{
	text-align:left;
	font-family:rFont;
	font-size:18px;
	padding: 1px 8px;
	line-height: 22px;
}

@font-face {
	font-family: buttonFont;
	src: url("font/Kalam.ttf");
}
#continue{
	font-family:buttonFont;
	border:3px #663300 solid;
	font-size:20px;
	line-height:20px;
	background-image:linear-gradient(to bottom right,#EEBB22,#FFCC44,#EEBB22);
	outline:none;
	padding:2px 6px;
	font-weight: bold;
	letter-spacing: 1px;
	min-width:100px;
	min-height:40px
}

#sideborder{
	border-left-style:solid;
	border-right-style:solid;
	border-left-color:rgb(220,150,00);
	border-right-color:rgb(220,150,00);
	width:100%;
	border-width:5px;
	box-sizing: border-box;
	padding-bottom:10px;
}
header{
	background-color: rgb(255,255,204);
	border-bottom-style:solid;
	border-color:#663300;
	border-width:6px;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
@font-face {
	font-family: 'mainHeading';
	src: url("font/Cabin-Regular.ttf");
}
#mainheading{
	color:red;
	font-family:'mainHeading';
	font-size:45px;
	line-height:60px;
	letter-spacing:4px;
	margin:0px auto;
	width:94%;
	max-width:1000px;
	border-style:solid;
	border-top-style:none;
	border-width:4px;
	border-color:#C79000;
	border-radius:0px 0px 70px 70px;
	background-color:#FFCC66;
	background-image:linear-gradient(#FFBF5D,#FFDA72);
}
#slideshow{
	background-color: rgb(255,255,204);
}
#images{
	overflow: hidden;
	display: grid;
	grid-template-columns: 100% 100%;
	grid-column-gap: 0px;
}
#images img{
	width: 100%;
	margin: 0px;
}
.changeSlide{
	width: 5%;
	position: absolute;
	vertical-align: top;
	overflow: hidden;
	top: 0;
	display: none;
	text-align: center;
	cursor: pointer;
}
.changeSlide i{
	top: 40%;
	position: absolute;
	font-size: 50px;
	line-height: 60px;
	color: #663300;
}
.changeSlide:hover i{
	font-size: 55px;
}
#prevSlide{
	background-image: linear-gradient(to right, rgba(250, 150, 0, 0.5) , rgba(250, 150, 0, 0));
	float: left;
	left: 0;
}
#prevSlide i{
	left: 40%;
}
#nextSlide{
	background-image: linear-gradient(to right, rgba(250, 150, 0, 0) , rgba(250, 150, 0, 0.5));
	right: 0;
	float: right;
}
#nextSlide i{
	right: 40%;
}

#maintable{
	max-width:1040px;
	width:95%;
	white-space:normal;
	margin:auto auto 45px auto;
	border-collapse:collapse;
}

@font-face {
	font-family:tableTitle;
	src: url('font/Grundschrift-Bold.otf');
}
#ttitle{
	font-family:tableTitle;
	font-size:50px;
	font-weight:bold;
	line-height:64px;
	text-align:left;
	padding-left:20px;
	background-color:#BB5500;
	color:#FFDD77;
	margin:0px;
	text-decoration:underline;
	border-style:solid;
	border-width:5px;
	border-color:#663300;
}

.tableb{
	box-shadow: 5px 5px 10px #663300 inset;
	border-width:5px;
	border-style:solid;
	border-color:#663300;
	background-color:#DD8844;
	background-image: url("pictures/tablebackground.PNG");
	background-size: cover;
}

a{text-decoration:none}

.imginfo{max-width:260px;max-height:130px;margin-top:15px;margin-bottom:10px}
.tableb a img:hover{transform:scale(1.05,1.05)}
.first{display:table;text-align:center;margin: 0px auto;width:100%}
.second{display:table-cell}

#tableadded{
	max-width:1040px;
	width:95%;
	border-collapse:collapse;
	white-space:normal;
	border:5px solid #440044;
	margin:20px auto
}

#tableedit{
	max-width:1040px;
	width:95%;
	border-collapse:collapse;
	white-space:normal;
	border:5px solid #440044;
	margin:20px auto
}

.ttitle2{
	text-align:left;
	border-right-style:solid;
	border-color:#850085;
	background-color:#901590;
	width:20%;
	overflow:hidden;
	font-family:tableTitle;
	font-size:40px;
	letter-spacing:2px;
	color:#CC35FF;
	padding:0px 20px;
	line-height:52px
}
.tback{
	background-color:#901590;
}

.ttext{
	margin-left:10px;
	display:block;
	text-align:left;
	border-left-style:solid;
	padding: 2px;
}
.ttext:hover{margin-left:0px}

@font-face {
	font-family:menuFont;
	src: url("font/Grundschrift-Bold.otf")
}

.menu{
	font-family:menuFont;
	font-size:20px;
	font-weight: bold;
	padding-left:10px;
	display:block;
	line-height:26px;
	text-transform: lowercase;
}
.menu::first-letter{
	text-transform: capitalize;
}

hr{
	max-width:1080px;
	margin: auto;
	position:inherit;
	width:96%
}
		
#footertd{
	max-width:1080px;
	width:96%;
	position:inherit;
	margin:10px auto 0px auto;
	background-color:#FF9933;
	text-align:left;
	border-collapse:collapse
}
@font-face {
	font-family:'footerFont';
	src: url("font/LinLibertine_R.ttf")
}	
.footertd2{
	font-family: 'footerFont';
	font-size:15px;
	font-weight: bold;
	line-height: 22px;
	padding-left:20px;
}

.footertd2 a{
	color:#CC3300
}

.footertd2 a:hover{
	text-decoration:underline
}

#footertd tr:last-child{
	color:#CC3300;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	background-color:#FFF2CC;
	font-family:footerFont;
	border-color:#FFF2CC
}

#bline{
	border-bottom-style:none;
	border-width:5px;
	border-color:#663300;
	bottom:0px;
	margin:0px;
	position:absolute;
	width:100%;
}

@media screen and (min-width: 1126px){
	#sideborder{border-style:none}
}
@media screen and (max-device-width: 1023px){
	#body{background-color:#BB5500}
	#loading{background-image:linear-gradient(to bottom right,#FF8833,#FFBB44)}
	#continue{letter-spacing: 0px;width: 120px;}
	header{margin-bottom: 30px;}
	#mainheading{line-height:40px;font-size:30px;letter-spacing: 1px;margin-bottom: 10px}
	#sideborder{padding-bottom:20px}
	#ttitle{font-size:25px;line-height:30px;padding-left:8px;letter-spacing:1em}
	.imginfo{width:80%}
	#maintable{margin-bottom:35px}
	#tableedit{margin-top:15px;margin-bottom:15px}
	.menu{font-size:12px;line-height:15px}
	.ttitle2{font-size:24px;padding:0px 10px;line-height:30px;font-weight:bold;color:#CF40FF}
}
@media screen and (max-width:1023px){
	.footertd2{font-size:11px;line-height: 15px;padding-left:10px}
	.changeSlide i{font-size: 30px;line-height: 40px;}
	.changeSlide:hover i{font-size: 35px;}
}
@media screen and (min-device-width:1024px) and (max-width:1023px){
	#ttitle{font-size: 35px;letter-spacing: 1px;padding-left: 10px;}
	.imginfo{width:75%}
	.ttitle2{font-size:25px;line-height:35px;padding:0px 8px}
	.menu{font-size:15px;line-height: 18px;}
	.footertd2{font-size:10px;line-height: 14px;}
}