body{
	background:#AA0000 url('background/background.jpg') center center no-repeat scroll;
	background-size: 100% 100%;
	margin:0px;
	padding-bottom: 140px;
	min-height:100vh;
	border-right-style:solid;
	border-right-width:4px;
	border-right-color:#220000;
	position:relative;
	overflow-x:hidden;
	visibility:hidden
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #220000;
  cursor:pointer
}
::-webkit-scrollbar-thumb {
  background: #770000;
}
::-webkit-scrollbar-thumb:hover{
  background: #990000;
}

#header{
	padding-left:40px;
	background:#661111;
	background-size: cover;
	white-space:nowrap;
	overflow:hidden;
	position:static;
}

#outerScroll{
	height:7px;
	margin-bottom:30px;
	background-color:#440000;
	width:100%;
	position:relative
}
#innerScroll{
	height:100%;
	width:10%;
	border-radius:7px;
	background-color:black;
	position:absolute;
	box-sizing: border-box;
	cursor:pointer;
}

.ImageButton{
	vertical-align:top;
	width:120px;
	padding:2px 2px;
	margin: 18px 40px 12px 0px;
	box-sizing: border-box;
	background-image:linear-gradient(to bottom right,#DDAA55, #FFCC77,#DDAA55);
	border:8px #552200 ridge;
	font-family:"Calisto MT";
	font-size: 17px;
	font-weight:bold;
	line-height:20px;
	color:#663300;
	white-space:normal;
	word-break: break-word;
	cursor:pointer
}
.ImageButton:focus{
	outline:none;
}

.sideB{
	position:absolute;
	top:55px;
	border:5px solid #333333;
	background-color:#666666;
	opacity: 0.6;
	width:30px;
	height:30px;
	padding:0px;
	margin:0px;
	text-align:center;
	border-radius:15px;
	font-size:18px
}
.sideB i{
	line-height:28px
}
.sideB:hover{
	opacity: 0.8
}
#leftB{
	left:10px
}
#rightB{
	right:10px
}

#content{
	width:100%;
	overflow:hidden
}
#aside{
	float:left;
	border:4px black solid;
	border-left-style:none;
	margin:45px 0px 0px 0px;
	width:18%;
	overflow:hidden;
	box-sizing: border-box;
	min-height:350px;
	border-radius: 0px 15px 15px 0px;
	background-color:#333333;
	padding-bottom:20px
}

#aside p{
	background-color:#EEBB55;
	width:88%;
	border-radius: 0px 5px 0px 0px;
	border-right-style:solid;
	border-top-style:solid;
	border-width:3px;
	border-color: #660000;
	padding:0px 6px;
	font-family:"mv Boli";
	letter-spacing:0px;
	font-weight:bold;
	font-size:16px;
	line-height:22px;
	margin:0px;
	word-wrap:break-word
}

#aside button{
	border-style: none none solid none;
	border-color:black;
	outline:none;
	padding:0px;
	width:85%;
	margin:22px 0px 0px 0px;
	background-color:transparent;
	text-align:left;
}

#aside button:hover p{
	padding-left:10px;
	cursor:pointer
}

#aside button:focus{
	margin-top:12px;
}

#aside button:focus p{
	padding-bottom:10px;
	padding-left:10px
}

.BorderMT{
	height:30px;
	width:81%;
	background:#660000;
	float:right;
	border-style:solid none solid solid;
	border-width:3px;
	border-color:#330000;
	border-radius:6px 0px 0px 6px;
	box-sizing: border-box;
}

#maintext{
	width:80%;
	background-color:#FFCC66;
	background-image:url('background/scroll.png');
	background-size: 100% auto;
	position:static;
	float:right;
	right:0;
	margin:0px;
	text-align:left;
	border-width:4px;
	border-left-style:solid;
	border-color:#660000;
	overflow:hidden;
	box-sizing: border-box;
	box-shadow:5px 12px 15px 0px rgb(150,100,50) inset;
	padding:10px 0px;
}
#maintext h3{
	margin:0px;
	padding:24px 60px 10px 35px;
	text-decoration:underline;
	font-size:28px;
	line-height:34px;
	font-family:"Poor Richard"
}
#maintext p{
	margin:0px;
	padding:15px 55px 0px 60px;
	font-size:21px;
	line-height:32px;
	font-family:"Maiandra GD";
}
#maintext .quote{
	padding:15px 100px 0px 100px;
	font-family:Gabriola;
	font-size:26px;
	text-align:justify;
	font-weight:bold;
}
#maintext .arabic{
	font-family:"Traditional Arabic";
	font-size:30px;
	line-height:45px;
	font-weight:bold;
	text-align:justify;
	direction:rtl;
	position:relative;
	padding:20px 80px 0px 80px;
}
#maintext .arabicText span{
	display:inline-block;
	visibility:hidden;
	font-size:16px;
	line-height:18px;
	font-weight:normal;
	border:4px solid #331100;
	background-color:#994400;
	border-radius:5px;
	color:#FFBB00;
	text-align:justify;
	padding:2px 4px 0px 4px;
	margin:0px;
}
#maintext .arabicText:hover span{
	visibility:visible;
}
#maintext p sup, #maintext ul sup, #maintext ol sup{
	font-size:0.55em;
	vertical-align:top;
	position:relative;
	top:-0.3em;
	font-family:"Segoe Print";
	font-weight:bold;
}
#maintext p sup a, #maintext ul sup a, #maintext ol sup a{
	color:black;
	text-decoration:none
}
#maintext p sup a:visited, #maintext ul sup a:visited, #maintext ol sup a:visited{
	text-decoration:none;
	color:black;
}
#maintext p sup a:hover, #maintext ul sup a:hover, #maintext ol sup a:hover{
	text-decoration:underline
}
#maintext ul{
	margin:10px 50px 0px 70px;
	font-size:18px;
	line-height:24px;
	font-family:"Maiandra GD";
	list-style:circle;
}
#maintext ol{
	margin:10px 50px 0px 70px;
	padding-left:40px;
	font-size:18px;
	line-height:24px;
	font-family:"Maiandra GD";
}
#maintext li{
	padding-bottom:10px;
}
#maintext #line{
	height:0px;
	border:2px transparent solid;
	border-image:url('background/border.png') 50% 15% round;
	width:95%;
	margin:30px auto 0px auto
}
#maintext h4{
	margin:0px;
	padding:15px 60px 0px 35px;
	font-size:24px;
	line-height:30px;
	font-family:"Comic Sans MS"
}
#maintext #reference{
	margin:0px 50px;
	padding:10px 45px;
	list-style:none;
	font-size:18px;
	line-height:24px;
	font-family:"Comic Sans MS";
	counter-reset:list;
	position:relative
}
#maintext #reference li{
	padding:0px;
}
#maintext #reference li::before{
	counter-increment:list;
	content:"["counter(list)"] ";
	position:absolute;
	left:4px
}
#maintext #construction{
	margin:100px auto;
	padding:0px;
	text-align:center;
}
#reference span{
	vertical-align:text-top
}
#mainTitle{
	margin:140px 0px 0px 0px;
	font-family:"AR JULIAN";
	font-size:50px;
	width:100%;
	text-align:center;
}
#subTitle{
	font-family:"mv Boli";
	font-size:22px;
	margin:30px 0px 120px 0px;
	width:100%;
	text-align:center
}
#footer{
	width:100%;
	bottom:0px;
	padding:30px 0px;
	background:#AA2211;
	position:absolute;
	border-top-style:solid;
	border-width:4px;
	border-color:#550000;
	bottom:0px;
}
#footerp{
	font-family:"Edwardian Script ITC";
	font-size:30px;
	font-weight:bold;
	padding:0px;
	width:100%;
	margin:0px;
}
#footerp a{
	color:black;
	text-align:center;
	display:inline-block;
	text-decoration:none;
	line-height:38px;
}
#footerp a:hover{
	font-size:32px
}
@media only screen and (max-width:1000px){
	#body{
		border-right-width:3px
	}
	::-webkit-scrollbar {
		width: 8px;
	}
	#header{
		padding-left:20px
	}
	#header::-webkit-scrollbar {
		height: 4px;
	}
	.ImageButton{
		font-size:11px;
		line-height:15px;
		height:75px;
		width:80px;
		border-width:5px;
		margin: 18px 20px 12px 0px;
	}
	.sideB{
		top: 40px;
		height:18px;
		width:18px;
		border-radius:10px;
		font-size:14px;
		border-width:3px
	}
	.sideB i{
		line-height:16px;
	}
	#aside p{
		font-size:12px;
		font-weight:normal;
		line-height:18px;
		padding:0px 3px;
		border-width:2px;
		width:84%;
	}
	#aside button{
	 	margin:20px 0px 0px 0px;
	}
	#aside button:hover p{
		padding-left:6px
	}
	#aside button:focus{
		margin-top:10px;
	}
	#aside button:focus p{
		padding-bottom:10px;
		padding-left:6px
	}
	#footer{
		padding:20px 0px
	}
	#footerp{
		font-size:20px;
	}
	#footerp a{
		line-height:25px
	}
	#footerp a:hover{
		font-size:22px
	}
}