a{
	text-decoration:none
}

a:hover{
	color:purple;text-decoration:underline
}
span[style="cursor:help"]{
	text-decoration: underline;text-decoration-style: dashed;position:relative
}
[data-title]:hover::before{
	content:attr(data-title);
	white-space:normal;
	position:absolute;
	font-size:18px;
	line-height:24px;
	background-color:#C0C0C0;
	display:inline-block;
	padding:0px 5px;
	border:2px black dashed;
	top:35px;
	width:480px;
	left:-25px
}
h3{
	margin-left:40px;text-decoration:underline;padding-top:10px;font-size:30px;font-family:"High Tower Text"
}
h1{
	margin-top:0px;padding-top:20px
}
h2{
	font-family:"Monotype Corsiva";font-size:35px;line-height:40px;margin:40px 50px 0px 50px
}
ul{
	margin-left:40px;overflow-x:scroll;font-family:"Comic Sans MS";font-size:20px;line-height:30px;padding-bottom:5px;position:static;margin-right:40px
}
ol{
	list-style:circle
}
.plink{
	margin-left:80px;font-family:'MV Boli';font-size:x-large;line-height:35px;margin-right:80px
}
#source_format{
	margin:0px 40px 0px 40px;font-family:"Comic Sans MS";font-size:24px;line-height:35px;position:static
}
.pmain{
	margin-left:40px;font-family:"Comic Sans MS";font-size:24px;line-height:35px;margin-right:40px;position:static
}
.pmain2{
	margin-left:80px;font-family:"Comic Sans MS";font-size:24px;line-height:35px;margin-right:80px;position:static
}
.pmain sub{
	vertical-align:baseline;
	font-size:18px
}
#mainheader{
	top:0px;
	width:100%;
	position:fixed;
	font-family:Monotype Corsiva;
	letter-spacing:2px;
	text-align:center;
	border-bottom-style:solid;
	}
#mainheader2{
	position:sticky;position: -webkit-sticky;top:0px;width:100%;font-family:Monotype Corsiva;
	letter-spacing:2px;text-align:center;border-bottom-style:solid;z-index:5
}
#body1{
	margin:0px;position:static;margin-top:100px;height:100%
}
#body2{
	margin:0px;position:static
}
#fTable {
	width:100%;position:static;font-size:small;border-spacing:0px;padding-right:42px
}
.displayimg{
	display:block;margin:auto;height:150px;border-style:none;position:static;max-width:80%
}
.displayimg2{
	display:block;margin:auto;height:200px;border-style:none;position:static;max-width:80%
}
#drvitimg{
	height:120px
}
.tdpadding{
	padding-left:20px;border-left-style:solid
}
#abyss{
	height:31px;WIDTH:88px
}

@media (max-device-width:1023px){
	.pmain{font-size:18px;margin-right:10px;margin-left:10px}}
@media (max-device-width:1023px){
	.pmain sub{font-size:12px;vertical-align:baseline}}
@media (max-device-width:1023px){
	.pmain2{font-size:18px;margin-right:20px;margin-left:20px}}
@media (max-device-width:1023px){
	#source_format{font-size:18px;margin-right:20px;margin-left:20px}}
@media (max-device-width:1023px){
	ul{font-size:10px;margin-right:10px;margin-left:10px;line-height:15px}}
@media (max-device-width:1023px){
	.displayimg{height:auto;max-height:100px}}
@media (max-device-width:1023px){
	.displayimg2{height:auto;max-height:120px}}
@media (max-device-width:1023px){
	#body1{margin-top:90px}
@media (max-device-width:1023px){
	h1{padding-left:10px;padding-right:10px;font-size:22px}}
@media (max-device-width:1023px){
	h3{margin-right:10px;margin-left:10px;font-size:22px}}
@media (max-device-width:1023px){
	#mainheader{letter-spacing:0px}}
@media (max-device-width:1023px){
	#mainheader2{letter-spacing:0px}}
@media (max-device-width:1023px){
	#fTable{font-size:10px;padding-right:5px;padding-left:5px}
@media (max-device-width:1023px){
	.tdpadding{width:80%;padding-left:3px;line-height:10px;padding-right:3px}}
@media (max-device-width:1023px){
	#drvitimg{height:53px;margin-bottom:50px}}
@media (max-device-width:1023px){
	#abyss{height:20px;width:auto}}
@media (max-device-width:1023px){
	.plink{margin-left:10%;margin-right:5%;font-size:20px;line-height:25px}}
@media (max-device-width:1023px){
	h2{margin-left:5%;margin-right:5%;font-size:25px;line-height:30px}}

<!--header is h1-->
<!--calibri is the default font for image explaining, use lines of weight 6 points-->
<!--for maths equation, use cambria maths (center,italics), preffered font size is 72-->
<!--margin top of title page is 105px if heading is two lines-->
<!--Evidence page has mainheader 2 and body 2 while title page has mainheader and body 1-->
<!--All plinks must have target="_blank"-->
<!--All elements with the style="cursor:help" should have text decoration as dashed underline-->
<!--When writing history, sources should have disc bullet list points, if its not a source then have circle list points-->
<!--Remove (border-left-style:solid and padding-left:20px) from tdpadding [done: trigonometry, biology,
astronomy, electricity, mechanics]-->